
SHELL=/bin/bash

# run crontab every hours
3 * * * *   /cronjobs/aptly-graph.sh

# “At 04:05 on Tuesday.”
5 4 * * * /cronjobs/aptly-update-mirrors.sh jammy lcas_ros
5 3 * * * /cronjobs/aptly-update-mirrors.sh noble lcas_ros

